/* Colors */
:root {
    --background-color: #eee;
    --media-background-color: #e4e4e4;
    --card-color: #e8e8e8;
    --text-color: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111;
        --media-background-color: #141414;
        --card-color: #181818;
        --text-color: #eee;
    }
}

html,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

.slide-media {
    background-color: var(--media-background-color);
}

/* Spacing */
.page-title {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.posts {
    display: flex;
    flex-direction: column;
}

.blog-post {
    margin-bottom: 1rem;
}

.post-nonmedia {
    margin: 1rem;
}

.post-metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5rem;
}

.post-title {
    flex-grow: 1;
}

.post-datetime {
    flex-basis: min-content;
    margin-left: 1rem;
}

.slide-media {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
}

/* Responsive width */
.page-title,
.blog-post {
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

/* Blog post */
.blog-post {
    /* Like Bulma Card: */
    background-color: var(--card-color);
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Carousel */
.slide-link,
.slide-media {
    margin: 0 !important;
    padding: 0 !important;
}

/* Fonts: */
@import url("https://fonts.cdnfonts.com/css/linux-libertine");
@import url('https://fonts.cdnfonts.com/css/freemono');

html,
body {
    font-family: "Linux Libertine", "Times New Roman", Times, serif;
}

.page-title {
    font-weight: bold;
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.post-datetime {
    font-family: 'FreeMono', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    line-height: 0.85em;
    letter-spacing: -0.075em;
    opacity: 0.5;
}